    body {direction: rtl;}
    ul li {
      font-size: large;
      color: blue;
    }
    ul li a:link, ul li a:visited { color:blue }
    ul ul li {
      font-size: medium;
      color: green;
    }
    ul ul li a:link, ul ul li a:visited { color:green }

    a:hover { background: yellow;} 

    address img {float: left}
    address {
      padding-top: .5em;
      padding-right: 1em;
      padding-left: 1em;
      padding-bottom: .5em;
      margin-top:  3em;
      border-top: 1px solid black;
      background-color: #eee;
      clear: both;
    }
    a:link img, a:visited img {border-style: none}
    div.start { 
      font-size: 140%;
      font-weight: bold;
      font-family: sans-serif;
      text-align: center; 
      background-color: blue;
      padding-top: .5em;
      padding-right: 1em;
      padding-left: 1em;
      padding-bottom: .5em;
    }

    div.start a:visited, div.start a:link {
      color: yellow; 
      text-decoration: none;
    }

    div.start a:hover {background: yellow; color: blue;}

    div.note {margin-top: 1em;}

    ul, ol { margin-right: 1em; padding-right: 1em;}
