<pre><tt><b><font color="#000080">#include</font></b> <font color="#FF0000">&lt;Python.h&gt;</font>

<b><font color="#0000FF">static</font></b> PyObject <font color="#990000">*</font>SpamError<font color="#990000">;</font>

<b><font color="#0000FF">static</font></b> PyMethodDef SpamMethods<font color="#990000">[</font><font color="#990000">]</font> <font color="#990000">=</font> <font color="#FF0000">{</font>
    <font color="#990000">.</font><font color="#990000">.</font><font color="#990000">.</font>
    <font color="#FF0000">{</font><font color="#FF0000">"system"</font><font color="#990000">,</font>  spam_system<font color="#990000">,</font> METH_VARARGS<font color="#990000">,</font>
     <font color="#FF0000">"Execute a shell command."</font><font color="#FF0000">}</font><font color="#990000">,</font>
    <font color="#990000">.</font><font color="#990000">.</font><font color="#990000">.</font>
    <font color="#FF0000">{</font>NULL<font color="#990000">,</font> NULL<font color="#990000">,</font> <font color="#993399">0</font><font color="#990000">,</font> NULL<font color="#FF0000">}</font>        <i><font color="#9A1900">/* Sentinel */</font></i>
<font color="#FF0000">}</font><font color="#990000">;</font>

<b><font color="#0000FF">static</font></b> PyObject <font color="#990000">*</font>
<b><font color="#000000">spam_system</font></b><font color="#990000">(</font>PyObject <font color="#990000">*</font>self<font color="#990000">,</font> PyObject <font color="#990000">*</font>args<font color="#990000">)</font>
<font color="#FF0000">{</font>
    <b><font color="#0000FF">const</font></b> <font color="#009900">char</font> <font color="#990000">*</font>command<font color="#990000">;</font>
    <font color="#009900">int</font> sts<font color="#990000">;</font>

    <b><font color="#0000FF">if</font></b> <font color="#990000">(</font><font color="#990000">!</font><b><font color="#000000">PyArg_ParseTuple</font></b><font color="#990000">(</font>args<font color="#990000">,</font> <font color="#FF0000">"s"</font><font color="#990000">,</font> <font color="#990000">&amp;</font>command<font color="#990000">)</font><font color="#990000">)</font>
        <b><font color="#0000FF">return</font></b> NULL<font color="#990000">;</font>
    sts <font color="#990000">=</font> <b><font color="#000000">system</font></b><font color="#990000">(</font>command<font color="#990000">)</font><font color="#990000">;</font>
    <b><font color="#0000FF">return</font></b> <b><font color="#000000">Py_BuildValue</font></b><font color="#990000">(</font><font color="#FF0000">"i"</font><font color="#990000">,</font> sts<font color="#990000">)</font><font color="#990000">;</font>
<font color="#FF0000">}</font>

<b><font color="#0000FF">static</font></b> PyObject <font color="#990000">*</font>my_callback <font color="#990000">=</font> NULL<font color="#990000">;</font>

<b><font color="#0000FF">static</font></b> PyObject <font color="#990000">*</font>
<b><font color="#000000">my_set_callback</font></b><font color="#990000">(</font>PyObject <font color="#990000">*</font>dummy<font color="#990000">,</font> PyObject <font color="#990000">*</font>args<font color="#990000">)</font>
<font color="#FF0000">{</font>
    PyObject <font color="#990000">*</font>result <font color="#990000">=</font> NULL<font color="#990000">;</font>
    PyObject <font color="#990000">*</font>temp<font color="#990000">;</font>

    <b><font color="#0000FF">if</font></b> <font color="#990000">(</font><b><font color="#000000">PyArg_ParseTuple</font></b><font color="#990000">(</font>args<font color="#990000">,</font> <font color="#FF0000">"O:set_callback"</font><font color="#990000">,</font> <font color="#990000">&amp;</font>temp<font color="#990000">)</font><font color="#990000">)</font> <font color="#FF0000">{</font>
        <b><font color="#0000FF">if</font></b> <font color="#990000">(</font><font color="#990000">!</font><b><font color="#000000">PyCallable_Check</font></b><font color="#990000">(</font>temp<font color="#990000">)</font><font color="#990000">)</font> <font color="#FF0000">{</font>
            <b><font color="#000000">PyErr_SetString</font></b><font color="#990000">(</font>PyExc_TypeError<font color="#990000">,</font> <font color="#FF0000">"parameter must be callable"</font><font color="#990000">)</font><font color="#990000">;</font>
            <b><font color="#0000FF">return</font></b> NULL<font color="#990000">;</font>
        <font color="#FF0000">}</font>
        <b><font color="#000000">Py_XINCREF</font></b><font color="#990000">(</font>temp<font color="#990000">)</font><font color="#990000">;</font>         <i><font color="#9A1900">/* Add a reference to new callback */</font></i>
        <b><font color="#000000">Py_XDECREF</font></b><font color="#990000">(</font>my_callback<font color="#990000">)</font><font color="#990000">;</font>  <i><font color="#9A1900">/* Dispose of previous callback */</font></i>
        my_callback <font color="#990000">=</font> temp<font color="#990000">;</font>       <i><font color="#9A1900">/* Remember new callback */</font></i>
        <i><font color="#9A1900">/* Boilerplate to return "None" */</font></i>
        <b><font color="#000000">Py_INCREF</font></b><font color="#990000">(</font>Py_None<font color="#990000">)</font><font color="#990000">;</font>
        result <font color="#990000">=</font> Py_None<font color="#990000">;</font>
    <font color="#FF0000">}</font>
    <b><font color="#0000FF">return</font></b> result<font color="#990000">;</font>
<font color="#FF0000">}</font>

PyMODINIT_FUNC
<b><font color="#000000">initspam</font></b><font color="#990000">(</font><font color="#009900">void</font><font color="#990000">)</font>
<font color="#FF0000">{</font>
    PyObject <font color="#990000">*</font>m<font color="#990000">;</font>

    m <font color="#990000">=</font> <b><font color="#000000">Py_InitModule</font></b><font color="#990000">(</font><font color="#FF0000">"spam"</font><font color="#990000">,</font> SpamMethods<font color="#990000">)</font><font color="#990000">;</font>

    SpamError <font color="#990000">=</font> <b><font color="#000000">PyErr_NewException</font></b><font color="#990000">(</font><font color="#FF0000">"spam.error"</font><font color="#990000">,</font> NULL<font color="#990000">,</font> NULL<font color="#990000">)</font><font color="#990000">;</font>
    <b><font color="#000000">Py_INCREF</font></b><font color="#990000">(</font>SpamError<font color="#990000">)</font><font color="#990000">;</font>
    <b><font color="#000000">PyModule_AddObject</font></b><font color="#990000">(</font>m<font color="#990000">,</font> <font color="#FF0000">"error"</font><font color="#990000">,</font> SpamError<font color="#990000">)</font><font color="#990000">;</font>
<font color="#FF0000">}</font>

</tt></pre>
